@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-950 text-slate-200 font-sans;
  }

  select {
    background-color: rgb(30 41 59);
    color: white;
  }

  select option {
    background-color: rgb(30 41 59);
    color: white;
  }
}
